<!-- templates/recipes.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
    <!-- Add any additional CSS or JS you need -->
</head>
<body>
    <h1>Recipes List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Recipe Name</th>
                <th>Instructions</th>
                <th>Ingredients</th>
                <th>Preparation Time (mins)</th>
                <th>Cooking Time (mins)</th>
                <th>Servings</th>
                <th>Calories</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            {% for recipe in recipes %}
                <tr>
                    <td>{{ recipe['recipe_name'] }}</td>
                    <td>{{ recipe['instructions'] }}</td>
                    <td>
                        <select name="ingredients">
                            {% for ingredient in recipe['ingredients'] %}
                                <option value="{{ ingredient['name'] }}">{{ ingredient['name'] }} - {{ ingredient['amount'] }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>{{ recipe['preparation_time_minutes'] }}</td>
                    <td>{{ recipe['cooking_time_minutes'] }}</td>
                    <td>{{ recipe['servings'] }}</td>
                    <td>{{ recipe['calories'] }}</td>
                    <td>{{ recipe['category'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
